{
  "R": {
    "Version": "4.3.0",
    "Repositories": [
      {
        "Name": "CRAN",
        "URL": "https://cloud.r-project.org"
      }
    ]
  },
  "Packages": {
    "shiny": {
      "Package": "shiny",
      "Version": "1.8.0",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "methods",
        "utils",
        "grDevices",
        "httpuv",
        "mime",
        "jsonlite",
        "xtable",
        "fontawesome",
        "htmltools",
        "R6",
        "sourcetools",
        "later",
        "promises",
        "tools",
        "crayon",
        "rlang",
        "fastmap",
        "withr",
        "commonmark",
        "glue",
        "bslib",
        "cachem",
        "ellipsis",
        "lifecycle"
      ],
      "Hash": "example-hash-shiny"
    },
    "tidyverse": {
      "Package": "tidyverse",
      "Version": "2.0.0",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "broom",
        "conflicted",
        "cli",
        "dbplyr",
        "dplyr",
        "dtplyr",
        "forcats",
        "ggplot2",
        "googledrive",
        "googlesheets4",
        "haven",
        "hms",
        "httr",
        "jsonlite",
        "lubridate",
        "magrittr",
        "modelr",
        "pillar",
        "purrr",
        "ragg",
        "readr",
        "readxl",
        "reprex",
        "rlang",
        "rstudioapi",
        "rvest",
        "stringr",
        "tibble",
        "tidyr",
        "xml2"
      ],
      "Hash": "example-hash-tidyverse"
    },
    "DT": {
      "Package": "DT",
      "Version": "0.31",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "htmltools",
        "htmlwidgets",
        "httpuv",
        "jsonlite",
        "magrittr",
        "crosstalk",
        "jquerylib",
        "promises"
      ],
      "Hash": "example-hash-dt"
    },
    "httr2": {
      "Package": "httr2",
      "Version": "1.0.0",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "cli",
        "curl",
        "glue",
        "magrittr",
        "openssl",
        "R6",
        "rappdirs",
        "rlang",
        "vctrs",
        "withr"
      ],
      "Hash": "example-hash-httr2"
    },
    "readxl": {
      "Package": "readxl",
      "Version": "1.4.3",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "cellranger",
        "cpp11",
        "progress",
        "tibble",
        "utils"
      ],
      "Hash": "example-hash-readxl"
    },
    "writexl": {
      "Package": "writexl",
      "Version": "1.4.2",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R"
      ],
      "Hash": "example-hash-writexl"
    },
    "shinythemes": {
      "Package": "shinythemes",
      "Version": "1.2.0",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "shiny"
      ],
      "Hash": "example-hash-shinythemes"
    },
    "renv": {
      "Package": "renv",
      "Version": "1.0.7",
      "Source": "Repository",
      "Repository": "CRAN",
      "Requirements": [
        "R",
        "utils"
      ],
      "Hash": "example-hash-renv"
    }
  }
}
